/*==============MOBILE PORTRAIT==============*/

/*==============MOBILE LANDSCAPE==============*/

/*==============TABLET PORTRAIT==============*/

/*==============TABLET LANDSCAPE==============*/

/*=================DESKTOP===================*/
@media (min-width: 1025px) and (max-width: 1280px) {
    footer {
      height: 100%;
      width: 172px;
      display: flex !important;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
  
      ul {
        position: fixed;
        align-self: center;
        padding: 0 16px;
        list-style: none;
  
        li {
          margin-bottom: 35px;
          font-size: 1rem;
  
          .fas,
          .fab {
            @include links($nav, $nav, $nav_hover, $nav);
          }
        }
      }
    }
  }
  