//Hamburger Nav Gradient
@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

  /*Flexbox*/
@mixin flex($flow, $jcontent, $acontent) {
  display: flex;
  flex-flow: $flow;
  justify-content: $jcontent;
  align-content: $acontent;
}

/* Link colors */
@mixin links($color, $vcolor, $hcolor, $acolor) {
  color: $color;

  &:visited {
    color: $vcolor;
  }

  &:hover {
    color: $hcolor;
    text-decoration: none;
    transition: 0.5s;
  }

  &:active {
    color: $acolor;
  }
}

/* Section Fade In */
@mixin fade ($secs) {
  -webkit-animation: fadein $secs;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $secs;
  /* Firefox < 16 */
  -ms-animation: fadein $secs;
  /* Internet Explorer */
  -o-animation: fadein $secs;
  /* Opera < 12.1 */
  animation: fadein $secs;
}
