//Colors

//Plums & Pinks
$darkplum: #7E596E;
$plum: #966E84;
$darkpink: #D87DA5;
$primarycolor: #ea95bc;
$lightpink: #F3C5DA;

//Beige
$darkbeige: #C6A5A8;
$beige: #DBBABC;
$secondarycolor: #eac8ca;

//Blue
$blue: #79D1FA;
$lightblue: #90DCFF;


$sm: $beige;
$sm_hover: $primarycolor;
$nav: #3C4143;
$nav_hover: #ccc;

//HAaburger Gradient
$list1: $primarycolor, $secondarycolor; 